<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Контакты</h1>

          <div class="row mt-4">
            <div class="col-md-6">
              <h3>Техническая поддержка</h3>
              <p>
                <strong>Email:</strong> support@schedule-system.ru<br>
                <strong>Телефон:</strong> +7 (XXX) XXX-XX-XX<br>
                <strong>Часы работы:</strong> Пн-Пт, 9:00-18:00
              </p>
            </div>

            <div class="col-md-6">
              <h3>Администрация</h3>
              <p>
                <strong>Email:</strong> admin@schedule-system.ru<br>
                <strong>Телефон:</strong> +7 (XXX) XXX-XX-XX
              </p>
            </div>
          </div>

          <div class="mt-4">
            <h3>Обратная связь</h3>
            <p>Если у вас есть вопросы или предложения по улучшению системы, напишите нам.</p>

            <div class="d-flex">
              <%= link_to 'На главную', root_path, class: 'btn btn-primary me-2' %>
              <%= link_to 'О системе', about_path, class: 'btn btn-outline-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>