<h1>Добро пожаловать в Schedule System</h1>
<p>Система управления учебным расписанием</p>

<% unless user_signed_in? %>
  <div class="auth-links">
    <%= link_to 'Войти', new_user_session_path, class: 'btn btn-primary' %>
    <%= link_to 'Регистрация', new_user_registration_path, class: 'btn btn-secondary' %>
  </div>
<% end %>